<div style="margin-top:50px;margin-bottom: 110px;" class="row equal" ui-if="loadingIsDone">

      <div class="col-md-6 col-md-3" style="text-align:center;border:1px solid black;">
        <p style="color:blue;font-size:20px;"><strong>Progressive News</strong></p>
        
        <div  style="text-align:center;" id="progart1">
          <strong>Title:</strong> {{title1}} <br />
          <strong>URL:</strong> {{url1}} <br />
          <strong>Date Added:</strong> {{dateadd1}} <br />
          <strong>Date Written:</strong> {{datewrite1}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="progart2">
          <strong>Title:</strong> {{title2}} <br />
          <strong>URL:</strong> {{url2}} <br />
          <strong>Date Added:</strong> {{dateadd2}} <br />
          <strong>Date Written:</strong> {{datewrite2}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="progart3">
          <strong>Title:</strong> {{title3}} <br />
          <strong>URL:</strong> {{url3}} <br />
          <strong>Date Added:</strong> {{dateadd3}} <br />
          <strong>Date Written:</strong> {{datewrite3}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="progart4">
          <strong>Title:</strong> {{title4}} <br />
          <strong>URL:</strong> {{url4}} <br />
          <strong>Date Added:</strong> {{dateadd4}} <br />
          <strong>Date Written:</strong> {{datewrite4}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="progart5">
          <strong>Title:</strong> {{title5}} <br />
          <strong>URL:</strong> {{url5}} <br />
          <strong>Date Added:</strong> {{dateadd5}} <br />
          <strong>Date Written:</strong> {{datewrite5}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> 
                
      </div>

      <div class="col-md-6 col-md-3" style="text-align:center;border:1px solid black;">
        <p style="color:#8ABFFF;font-size:20px;"><strong>Liberal News</strong></p>
        <div  style="text-align:center;" id="libart1">
          <strong>Title:</strong> {{title6}} <br />
          <strong>URL:</strong> {{url6}} <br />
          <strong>Date Added:</strong> {{dateadd6}} <br />
          <strong>Date Written:</strong> {{datewrite6}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="libart2">
          <strong>Title:</strong> {{title7}} <br />
          <strong>URL:</strong> {{url7}} <br />
          <strong>Date Added:</strong> {{dateadd7}} <br />
          <strong>Date Written:</strong> {{datewrite7}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="libart3">
          <strong>Title:</strong> {{title8}} <br />
          <strong>URL:</strong> {{url8}} <br />
          <strong>Date Added:</strong> {{dateadd8}} <br />
          <strong>Date Written:</strong> {{datewrite8}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="libart4">
          <strong>Title:</strong> {{title9}} <br />
          <strong>URL:</strong> {{url9}} <br />
          <strong>Date Added:</strong> {{dateadd9}} <br />
          <strong>Date Written:</strong> {{datewrite9}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="libart5">
          <strong>Title:</strong> {{title10}} <br />
          <strong>URL:</strong> {{url10}} <br />
          <strong>Date Added:</strong> {{dateadd10}} <br />
          <strong>Date Written:</strong> {{datewrite10}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div>
      </div>

      <div class="col-md-6 col-md-3" style="text-align:center;border:1px solid black;">
        <p style="font-size:20px;"><strong>Centered News</strong></p>
        <div  style="text-align:center;" id="cenart1">
          <strong>Title:</strong> {{title11}} <br />
          <strong>URL:</strong> {{url11}} <br />
          <strong>Date Added:</strong> {{dateadd11}} <br />
          <strong>Date Written:</strong> {{datewrite11}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="cengart2">
          <strong>Title:</strong> {{title12}} <br />
          <strong>URL:</strong> {{url12}} <br />
          <strong>Date Added:</strong> {{dateadd12}} <br />
          <strong>Date Written:</strong> {{datewrite12}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="cengart3">
          <strong>Title:</strong> {{title13}} <br />
          <strong>URL:</strong> {{url13}} <br />
          <strong>Date Added:</strong> {{dateadd13}} <br />
          <strong>Date Written:</strong> {{datewrite13}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="cengart4">
          <strong>Title:</strong> {{title14}} <br />
          <strong>URL:</strong> {{url14}} <br />
          <strong>Date Added:</strong> {{dateadd14}} <br />
          <strong>Date Written:</strong> {{datewrite14}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="cenart5">
          <strong>Title:</strong> {{title15}} <br />
          <strong>URL:</strong> {{url15}} <br />
          <strong>Date Added:</strong> {{dateadd15}} <br />
          <strong>Date Written:</strong> {{datewrite15}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> 
      </div>

      <div class="col-md-6 col-md-3" style="text-align:center;border:1px solid black;">
        <p style="color:red;font-size:20px;"><strong>Conservative News</strong></p>
        <div  style="text-align:center;" id="conart1">
          <strong>Title:</strong> {{title16}} <br />
          <strong>URL:</strong> {{url16}} <br />
          <strong>Date Added:</strong> {{dateadd16}} <br />
          <strong>Date Written:</strong> {{datewrite16}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="conart2">
          <strong>Title:</strong> {{title17}} <br />
          <strong>URL:</strong> {{url17}} <br />
          <strong>Date Added:</strong> {{dateadd17}} <br />
          <strong>Date Written:</strong> {{datewrite17}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="conart3">
          <strong>Title:</strong> {{title18}} <br />
          <strong>URL:</strong> {{url18}} <br />
          <strong>Date Added:</strong> {{dateadd18}} <br />
          <strong>Date Written:</strong> {{datewrite18}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="conart4">
          <strong>Title:</strong> {{title19}} <br />
          <strong>URL:</strong> {{url19}} <br />
          <strong>Date Added:</strong> {{dateadd19}} <br />
          <strong>Date Written:</strong> {{datewrite19}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> <hr>

        <div style="text-align:center;" id="conart5">
          <strong>Title:</strong> {{title20}} <br />
          <strong>URL:</strong> {{url20}} <br />
          <strong>Date Added:</strong> {{dateadd20}} <br />
          <strong>Date Written:</strong> {{datewrite20}} <br />
          <button class="btn btn-primary" *ngIf="auth.authenticated()">Add Article</button>
        </div> 
      </div>

</div>