<div class = "navbar navbar-inverse navbar-fixed-bottom">
  <div class = "container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><p style='font-family:Oswald,sans-serif;'>Bilitical</p></a>
    </div>

    <ul class="nav navbar-right collapse navbar-collapse">
        <li class="active"><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/dmca">Privacy Policy</a></li>
    </ul>
  </div>



  <span class="icon-bar"></span>

  Developed by: Spencer Connelly

</div>